@import url("Min.css"); /* DO NOT DELETE */

#root {
  color: white;
  background-color: rgb(42, 42, 40);
}

header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10%;
  border: 1px solid rgb(29, 29, 29);
  z-index: auto;
  background-color: rgb(42, 42, 40);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

ol {
  width: 100%;
  margin-top: 10px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

dl {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(83, 83, 83);
  border-style: solid none none;
}

dt {
  margin-bottom: 3px;
  width: 85%;
}

pre {
  display: none;
}

kbd {
  font-family: 'Courier New', Courier, monospace;
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: .85em;
  border: 1px solid #444;
  white-space: nowrap;
}

span {
  display: inline-flex;
  vertical-align: middle;
}

.left-request-info {
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
  justify-content: center;
}

.right-request-info {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

.right-request-info button {
  text-align: left;
  padding: 8px;
  width: 100%;
}

.method {
  color: rgb(64, 200, 125);
}

.path {
  box-sizing: border-box;
  padding: 8px;
  background-color: rgb(64, 200, 125);
  border-radius: 3px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.home-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.new_bin_form {
  display: flex;
  padding: 25px;
  margin: 25px;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-style: solid;
}

.bin_list {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  border: 1px solid rgb(255, 255, 255);
  border-style: solid;
}

.bin_list_items {
  margin: 5px 0px 0px 10px
}

.bin_list_link {
  color: inherit;
  text-decoration: inherit;
}

.bin_list_link:hover { text-decoration: underline; }

#burn-button {
  margin: 0 1px;
  background-color: rgb(255, 186, 58);
  border: none;
  border-radius: 3px;
}

#delete-button {
  margin: 0 1px;
  background-color: rgb(255, 60, 60);
  border: none;
  border-radius: 3px;
}

#clipboard, #checkbox {
  display: inline-block;
  width: 20px;
  filter: invert();
}

#clipboard:hover, #checkbox:hover {
  cursor: pointer;
}
