@import url("Min.css"); /* DO NOT DELETE */

#root {
  color: white;
  background-color: rgb(43, 41, 35);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10%;
  border: 1px solid rgb(29, 29, 29);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20%;
}

ol {
  margin-top: 10px;
}

dl {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(83, 83, 83);
  border-style: solid none none;
}

.left-request-info {
  display: flex;
  flex-direction: column;
  padding: 20px 10%;
}

.right-request-info {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.home-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new_bin_form {
  display: flex;
  padding: 25px;
  margin: 25px;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  border-style: solid;
}

.bin_list {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  border: 1px solid rgb(255, 255, 255);
  border-style: solid;
}

.bin_list_items {
  margin: 5px 0px 0px 10px
}

.bin_list_link {
  color: inherit;
  text-decoration: inherit;
}

.bin_list_link:hover { text-decoration: underline; }